<!doctype html>
<html ng-app="parking">
  <head>
      <title>Exercices</title>
 
      <script src="js/lib/angular.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
      <script src="js/constants.js"></script>


      <link rel="stylesheet" type="text/css" href="css/app.css">

      





      <!--

      AUUUUTH

      -->

 
 

  </head>
 


  <body ng-controller="parkingCtrl">







    <h3 ng-bind="appTitle"></h3>
 
<div ng-show="exos.length>0">

<div>Top Solved</div>
<hr>


<div>New Exos</div>
<hr>

<div ng-repeat="exo in exos | orderBy: 'date_creation' : reverse=true">
    {{exo.nom}} &nbsp
    {{exo.date_creation  | date: 'dd/MM/yyyy'}} &agrave {{exo.date_creation|date: 'HH:mm:ss'}}<br>


  </div>  

<hr>
<div>Top Visited</div>
<hr>

<div>Top Rated

<hr>
  <div ng-repeat="exo_r in exos | orderBy: 'rating' : reverse">
    {{exo_r.nom}} &nbsp
    {{exo_r.rating}}<br>
  </div>




</div>
<hr>

<div>Exos Par Cours</div>
<hr>




      
 
       
     

<br>
<br>
<br>
<br>
<br>



 

 </div>
</body>

    
 





</html>